---
import Hero from '../components/Hero.astro'
import ItemList from '../components/ItemList.astro'
import ItemPreview from '../components/ItemPreview.astro'
import Section from '../components/Section.astro'
import Slideshow from '../components/Slideshow'
import Text from '../components/Text/Text.astro'
import { getPlaygroundPostPreviews } from '../data/playgroundPosts'
import { getPostPreviews } from '../data/posts'
import Layout from '../layouts/Layout.astro'

const posts = await getPostPreviews()

const playgroundPosts = await getPlaygroundPostPreviews()
---

<Layout current={'home'}>
  <main>
    <Hero subTitle='Website'
      >This is my blog, sometimes I write about things, cool things. Lorem Ipsum
      dolor sit amet.
    </Hero>
    <Section title='Projects' subTitle={'View All'} subtitleLink={'/projects'}>
      <Slideshow client:only='preact'>
        <Text size='title-1'>CIAO</Text>
      </Slideshow>
    </Section>
    <Section title='Posts' subTitle={'View All'} subtitleLink={'/blog'}>
      <ItemList>
        {posts.map((post) => {
          return (
            <ItemPreview link={post.url}>
              <Fragment slot='subTitle'>
                {post.publishDateMonth}
                <span class='font-bold'>{post.publishDateYear}</span>
              </Fragment>
              <Fragment slot='title'>{post.title}</Fragment>
              {post.description && (
                <Fragment slot='body'>{post.description}</Fragment>
              )}
            </ItemPreview>
          )
        })}
      </ItemList>
    </Section>
    <Section
      title='Playground'
      subTitle={'View All'}
      subtitleLink={'/playground'}
    >
      <ItemList>
        {playgroundPosts.map((post) => {
          return (
            <ItemPreview link={post.url}>
              <Fragment slot='subTitle'>
                {post.tags && post.tags.map((tag) => `#${tag}`).join(' ')}
              </Fragment>
              <Fragment slot='title'>{post.title}</Fragment>
              <Fragment slot='body'>{post.description}</Fragment>
            </ItemPreview>
          )
        })}
      </ItemList>
    </Section>
  </main>
</Layout>
